@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-engred: #C03221;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-mediumblue: #3C4F76;
  --color-ivory: #FFFDF7;
  --color-green: #667761;
  --color-lightblue: #AFCBFF; 
}
